<!-- <p>payments works!</p> -->

<div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="!isLoading">
    <div class="row">
        <div class="col-12 header">
            <span class="font-style">Summary</span>
            <div class="d-flex justify-content-end" style="cursor: pointer;" *ngIf="!isShown">
                <span class="font-style" (click)="onChange(newData.projectValue, newData.addonValue)">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </span>
            </div>
        </div>
    </div>

    <div class="row background">

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Project Value (Modular)</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!isShown">INR
                    {{ newData.projectValue ? newData.projectValue : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="isShown">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="projectModularValue">
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Sign Up Amount</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                    {{ newData.signUpAmount ? newData.signUpAmount : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Total Project Value</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                    {{ newData.totalProjectValue ? newData.totalProjectValue : '-' }}</span>
            </div>
            <!-- <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Latest BOQ</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newData.latestBOQ ? newData.latestBOQ : '-' }}</span>
            </div> -->
            <!-- <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">
                    <div class="form-check form-check-inline">
                        <input 
                        class="form-check-input" 
                        type="checkbox" 
                        id="deepCleaning"
                        [checked]="newData.deepCleaningEnabled"
                        (change)="newData.deepCleaningEnabled = !newData.deepCleaningEnabled">
                        <label class="form-check-label" for="deepCleaning">Deep Cleaning</label>
                    </div>
                </span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR {{ newData.deepCleaning ? newData.deepCleaning : '-' }}</span>
            </div> -->
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Total Add-on Value</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!isShown">INR
                    {{ newData.addonValue ? newData.addonValue : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="isShown">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="addOnValue">
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Achieved Revenue</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                    {{ newData.achievedRevenue ? newData.achievedRevenue : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Pending Amount</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                    {{ newData.pendingAmount ? newData.pendingAmount : '-' }}</span>
            </div>
            <!-- <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Add-on Costing</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newData.addonCosting ? newData.addonCosting : '-' }}</span>
            </div> -->
        </div>
        <br>
        <div class="col-12 col-lg-6 d-flex flex-column mt-3 mb-3" *ngIf="isShown">
            <div class="row" style="padding-left: 30px;">
                <button class="btn btn-outline-secondary" type="button"
                    (click)="onupdateTeamMember()">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-outline-secondary" type="button" (click)="onChange()">Cancel</button>
            </div>
        </div>

    </div>

</div>

<br><br>

<div class="container" *ngIf="!isLoading">
    <div class="row">
        <div class="col-12">
            <span class="font-style" *ngIf="!isClick">Break Down</span>
            <span class="d-flex justify-content-end" (click)="onBack()" style="cursor: pointer;">
                <span class="font-style" *ngIf="isClick">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                    Back</span>
            </span>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="!isClick">
        <table class="table table-hover" cellspacing="0" width="100%">
            <thead class="thead-light">
                <tr>
                    <th>Milestone</th>
                    <th>Due Date</th>
                    <th>Payment Value</th>
                    <th>Amount</th>
                    <th>Amount Paid</th>
                    <th>Amount Due</th>
                    <!-- <th>Invoice</th> -->
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of projectPaymentListArr" style="cursor: pointer;" (click)="onSwitch(payment)">
                    <td>{{ payment.milestoneName ? payment.milestoneName : '-' }}</td>
                    <td>{{ payment.dueDate ? payment.dueDate : '-' }}</td>
                    <td>{{ payment.paymentValue ? payment.paymentValue : '-' }}</td>
                    <td>INR {{ payment.totalPayableAmount ? payment.totalPayableAmount : '-' }}</td>
                    <td>INR {{ payment.amountPaid ? payment.amountPaid : '-' }}</td>
                    <td>INR {{ payment.amountDue ? payment.amountDue : '-' }}</td>
                    <!-- <td>-</td> -->
                    <td>{{ payment.status ? payment.status : '-' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- New Container after click on table's Row -->
<div *ngIf="isClick">
    <div *ngIf="!isLoading">
        <div class="container">
            <div class="row">
                <div class="col-12 header">
                    <span class="font-style">Sign Up</span>
                </div>
            </div>

            <div class="row background">

                <div class="col-12 col-lg-6 d-flex flex-column">
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Milestone Amount</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                            {{ paymentDetailsItem.milestoneAmount ? paymentDetailsItem.milestoneAmount : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Advance Amount</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                            {{ paymentDetailsItem.advanceAmount ? paymentDetailsItem.advanceAmount : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-3">Add-on Amount</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-3">INR
                            {{ paymentDetailsItem.addonAmount ? paymentDetailsItem.addonAmount : '-' }}</span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex flex-column">
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Total Payable Amount</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                            {{ paymentDetailsItem.totalPayableAmount ? paymentDetailsItem.totalPayableAmount : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Amount Paid</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                            {{ paymentDetailsItem.amountPaid ? paymentDetailsItem.amountPaid : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-3">Amount Due</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-3">INR
                            {{ paymentDetailsItem.amountDue ? paymentDetailsItem.amountDue : '-' }}</span>
                    </div>
                </div>

            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="col-12 header">
                    <span class="font-style">Invoice details</span>
                    <div class="d-flex justify-content-end" style="cursor: pointer;">
                        <span class="font-style" *ngIf="!paymentDetailsItem.isFreezed">
                            <button class="btn btn-secondary" type="button"
                                (click)="onGeneratePaymentInvoice()">{{ paymentDetailsItem.invoiceNumber ? 'Regenerate' : 'Generate' }}</button>&nbsp;&nbsp;
                            <!-- <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg> -->
                        </span>
                    </div>
                </div>
            </div>

            <div class="row background">

                <div class="col-12 col-lg-6 d-flex flex-column">
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Base Amount</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                            {{ paymentDetailsItem.invoiceBaseAmount ? paymentDetailsItem.invoiceBaseAmount : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Invoice Number</span>
                        <span
                            class="col-6 d-flex flex-column mt-3 mb-2">{{ paymentDetailsItem.invoiceNumber ? paymentDetailsItem.invoiceNumber : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Total Amount</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                            {{ paymentDetailsItem.invoiceTotalAmount ? paymentDetailsItem.invoiceTotalAmount : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-3">Payment Link</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-3"><a class="link"
                                (click)="goToUrl(paymentDetailsItem.paymentLink)"
                                target="_blank">{{ paymentDetailsItem.paymentLink ? paymentDetailsItem.paymentLink : '-' }}</a></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex flex-column">
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Total Tax</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2">INR
                            {{ paymentDetailsItem.invoiceTotalTaxAmount ? paymentDetailsItem.invoiceTotalTaxAmount : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Invoice Date</span>
                        <span
                            class="col-6 d-flex flex-column mt-3 mb-2">{{ paymentDetailsItem.invoiceDate ? paymentDetailsItem.invoiceDate : '-' }}</span>
                    </div>
                    <!-- <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Invoice</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2"><a class="link"
                                (click)="goToUrl(paymentDetailsItem.invoiceURL)"
                                target="_blank">{{ paymentDetailsItem.invoiceURL ? paymentDetailsItem.invoiceURL : '-' }}</a></span>
                    </div> -->
                </div>

            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="col-12 header">
                    <span class="font-style">Payment details</span>
                    <div class="d-flex justify-content-end" style="cursor: pointer;" *ngIf="!isAddMode">
                        <span class="font-style" (click)="setAddMode(true)">
                            <div *ngIf="!paymentDetailsItem.isFreezed">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                </svg>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- //--------- -->


        <div class="container" *ngIf="isAddMode">
            <div class="row background">
                <div class="col-12 mt-2">
                    <!-- <div class="pt-2 d-flex flex-row justify-content-between">
                <span class="font-style">5% Supply of interior works</span>
                    <div class="pr-2" style="cursor: pointer;" *ngIf="!isSwitch">
                        <span (click)="onShow()">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </span>
                    </div>
            </div> -->
                </div>

                <div class="col-12 col-lg-6 d-flex flex-column">
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Received Amount</span>
                        <!-- <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!isSwitch">INR</span> -->
                        <div class="col-6 d-flex flex-column mt-3 mb-2">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="recievedAmount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Received date</span>
                        <!-- <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!isSwitch"></span> -->
                        <!-- <div class="col-6 d-flex flex-column mt-3 mb-2"> -->
                        <div class="col-3 d-flex mt-3 mb-1" style="text-align: center;">
                            <input style="height: 30px; width: 130px;" matInput [matDatepicker]="picker"
                                [formControl]="date" (dateChange)="addEvent($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Supporting Document</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2">
                            <!-- <input type="file" (change)="onFileSelected($event)"> -->
                            <!-- <span *ngIf="supportingDocumentURL">
                        <input type="file" (change)="onFileSelected($event)" id="img" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                        </svg>
                        <label for="img">{{awsSupportingDocumentURLKey}}</label>
                    </span> -->
                            <input type="file" (change)="onFileSelected($event)">

                        </span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex flex-column">
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Mode of Payment</span>
                        <!-- <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!isSwitch"></span> -->
                        <div class="col-6 d-flex flex-column mt-3 mb-2">
                            <select class="custom-select mr-sm-2 st" [(ngModel)]="selectedPaymentMode">
                                <option *ngFor="let paymentMode of paymentModeArray">{{ paymentMode }}</option>
                                <!-- <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Transaction Ref. No.</span>
                        <!-- <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!isSwitch"></span> -->
                        <div class="col-6 d-flex flex-column mt-3 mb-2">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="transactionRefNo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex flex-column mt-3 mb-3">
                    <div class="row" style="padding-left: 30px;">
                        <button class="btn btn-outline-secondary" type="button"
                            (click)="onAddPaymentConfirmation()">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-outline-secondary" type="button"
                            (click)="setAddMode(false)">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
        <br>

        <!-- ================ -->

        <div *ngFor="let paymentConfirmation of mainPaymentConfirmationArr">
            <div class="container">
                <div class="row background">
                    <div class="col-12 mt-2">
                        <div class="pt-2 d-flex flex-row justify-content-between">
                            <span
                                class="font-style">{{ paymentConfirmation.paymentName ? paymentConfirmation.paymentName : '-' }}</span>
                            <div class="pr-2" style="cursor: pointer;"
                                *ngIf="currentEditingPayment !== paymentConfirmation._id">
                                <div *ngIf="!paymentDetailsItem.isFreezed">
                                    <span
                                        (click)="onShow(paymentConfirmation._id, paymentConfirmation.receivedDate, paymentConfirmation.modeOfPayment, paymentConfirmation.receivedAmount, paymentConfirmation.transactionRefNo, paymentConfirmation.awsSupportingDocumentURLKey)">
                                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                            class="bi bi-pencil-square" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 d-flex flex-column">
                        <div class="row">
                            <span class="col-6 d-flex flex-column mt-3 mb-2">Received Amount</span>
                            <span class="col-6 d-flex flex-column mt-3 mb-2"
                                *ngIf="currentEditingPayment !== paymentConfirmation._id">INR
                                {{ paymentConfirmation.receivedAmount ? paymentConfirmation.receivedAmount : '-' }}</span>
                            <div class="col-6 d-flex flex-column mt-3 mb-2"
                                *ngIf="currentEditingPayment === paymentConfirmation._id">
                                <div class="form-group">
                                    <input type="text" class="form-control" [(ngModel)]="updatedRecievedAmount">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-6 d-flex flex-column mt-3 mb-2">Received date</span>
                            <span class="col-6 d-flex flex-column mt-3 mb-2"
                                *ngIf="currentEditingPayment !== paymentConfirmation._id">{{ paymentConfirmation.receivedDate ? paymentConfirmation.receivedDate : '-' }}</span>
                            <div class="col-3 d-flex mt-3 mb-1" style="text-align: center;"
                                *ngIf="currentEditingPayment === paymentConfirmation._id">
                                <input style="height: 30px; width: 130px;" matInput [matDatepicker]="picker"
                                    [formControl]="date" (dateChange)="addEvent($event)">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                            <!-- <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="isSwitch">
                            <div class="form-group">
                                <input type="text" class="form-control">
                            </div>
                        </div> -->
                        </div>
                        <div class="row">
                            <span class="col-6 d-flex flex-column mt-3 mb-2">Supporting Document</span>
                            <span class="col-6 d-flex flex-column mt-3 mb-2">
                                <!-- <input type="file" (change)="onFileSelected($event)"> -->
                                <div *ngIf="currentEditingPayment === paymentConfirmation._id">
                                    <!-- <label>ABCDEG</label> -->
                                    <!-- <span *ngIf="paymentConfirmation.supportingDocumentURL">
                                <input type="file" (change)="onFileSelected($event)" id="img" style="display:none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                                    <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                                </svg>
                                <label for="img">{{paymentConfirmation.awsSupportingDocumentURLKey}}</label>
                            </span> -->
                                    <span *ngIf="paymentConfirmation.supportingDocumentURL">
                                        <input type="file" (change)="onFileSelected($event)" id="img"
                                            style="display:none;">
                                        <label for="img">{{awsSupportingDocumentURLKey}}</label>
                                    </span>

                                </div>
                                <!-- </span> -->
                                <span *ngIf="currentEditingPayment !== paymentConfirmation._id">
                                    <span *ngIf="paymentConfirmation.supportingDocumentURL">
                                        <!-- <input id="img" style="display:none;"> -->
                                        <a (click)="goToUrl(paymentConfirmation.supportingDocumentURL)" target="_blank"
                                            style="cursor: pointer;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25"
                                                fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
                                            </svg>
                                            <!-- <label>{{paymentConfirmation.awsSupportingDocumentURLKey}}</label> -->
                                        </a>
                                        <!-- <label for="img">{{paymentConfirmation.awsSupportingDocumentURLKey}}</label> -->
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 d-flex flex-column">
                        <div class="row">
                            <span class="col-6 d-flex flex-column mt-3 mb-2">Mode of Payment</span>
                            <span class="col-6 d-flex flex-column mt-3 mb-2"
                                *ngIf="currentEditingPayment !== paymentConfirmation._id">{{ paymentConfirmation.modeOfPayment ? paymentConfirmation.modeOfPayment : '-' }}</span>
                            <div class="col-6 d-flex flex-column mt-3 mb-2"
                                *ngIf="currentEditingPayment === paymentConfirmation._id">
                                <select class="custom-select mr-sm-2 st" [(ngModel)]="selectedPaymentMode">
                                    <option *ngFor="let paymentMode of paymentModeArray">{{ paymentMode }}</option>
                                    <!-- <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-6 d-flex flex-column mt-3 mb-2">Transaction Ref. No.</span>
                            <span class="col-6 d-flex flex-column mt-3 mb-2"
                                *ngIf="currentEditingPayment !== paymentConfirmation._id">{{ paymentConfirmation.transactionRefNo ? paymentConfirmation.transactionRefNo : '-' }}</span>
                            <div class="col-6 d-flex flex-column mt-3 mb-2"
                                *ngIf="currentEditingPayment === paymentConfirmation._id">
                                <div class="form-group">
                                    <input type="text" class="form-control" [(ngModel)]="updatedTransactionRefNo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 d-flex flex-column mt-3 mb-3"
                        *ngIf="currentEditingPayment === paymentConfirmation._id">
                        <div class="row" style="padding-left: 30px;">
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="onUpdatePaymentConfirmation()">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="onShow(null)">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
            <br>
        </div>

        <!-- //------ -->
    </div>
</div>

<!-- <div>Payment detils heading</div>
<div>// Everythng is always editble
    <div></div>New Payment Record to add Form </div>
<div>
    ngfor(paymetconfirmationArray)
    <div>// Everything is condititional editable
        <f=label> pyaent Nme.... amount.... receiving date.... transactionRef No.</f>
    </div>
</div> -->