.font-style {
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    background-color: lightsteelblue;
    border-radius: 5px 5px 0 0;
}

.background {
    background-color: whitesmoke;
}

.link {
    cursor: pointer; 
    color: blue; 
    text-decoration: underline;
}