<!-- <p>files works!</p> -->

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="segregateMilestoneForPhases(0)"
                [class.phase-active]="phase === 0">Pre-Design</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="segregateMilestoneForPhases(1)"
                [class.phase-active]="phase === 1">Design</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="segregateMilestoneForPhases(2)"
                [class.phase-active]="phase === 2">Production</a>
        </li>
    </ul>
</div>
<br>

<div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
    <table class="table table-light table-striped" cellspacing="0" width="100%">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th style="text-align: left;">File</th>
                <th>Upload</th>
                <th>Uploaded On</th>
                <th>Uploaded By</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;" *ngFor="let files of projectFilesListArr">
                <td style="text-align: left; width: 15%;">{{ files.displayName ? files.displayName : '-' }}</td>
                <td>
                    <span *ngIf="!files.fileURL">
                        <input type="file" (change)="onFileSelected($event, files._id)" id="{{ files._id }}" style="display:none;">
                        <label for="{{ files._id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z" />
                            </svg>
                        </label>
                    </span>
                    <span *ngIf="files.fileURL">
                        <input type="file" (change)="onFileSelected($event, files._id)" id="{{ files._id }}" style="display:none;">
                        <label for="{{ files._id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor"
                                class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                                <path
                                    d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
                            </svg>
                        </label>
                    </span>
                </td>
                <td>{{ files.uploadDateTime ? files.uploadDateTime : '-' }}</td>
                <td>{{ files.uploadedBy ? files.uploadedBy : '-' }}</td>
                <td>
                    <!-- <div [attr.id]="files._id"> -->
                    <span *ngIf="files.fileURL">
                        <a (click)="goToUrl(files.fileURL)" target="_blank" style="cursor: pointer;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
                            </svg>
                        </a>
                    </span>
                    <span *ngIf="!files.fileURL">
                        <label>-</label>
                    </span>
                <!-- </div> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>




<!-- <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>  -->





<!-- <div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="./preDesign" routerLinkActive="active" skipLocationChange>Pre-Design</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./design" routerLinkActive="active" skipLocationChange>Design</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./production" routerLinkActive="active" skipLocationChange>Production</a>
        </li>
    </ul>
</div>
<br>

<div class="container">
    <router-outlet></router-outlet>
</div>-->