.form {
    /* min-width: 150px;
    max-width: 500px; */
    width: 100%;
  }

  .container {
    padding: 10px;
  }

  .form-element {
    padding: 15px 0px 25px 2px;
    width: 100%;
  }

  td {
    padding-right: 200px;
  }

  mat-label {
      font-size: large;
  }

  .mat-divider {
    border-top-color: lightgray;
}

.center {
    text-align: center;
}

.invisible{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}