<div class="container">
    <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;"> 
        <app-loading-spinner></app-loading-spinner>
    </div>
    <section *ngIf="bankAccountDetailsForm" >
    <form 
    class="form" 
    [formGroup]="bankAccountDetailsForm" 
    (ngSubmit)="onSubmit(bankAccountDetailsForm.value)"
    *ngIf="!isLoading"> 
        <table class="form-element" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="form-element">
                        <mat-label>Name as per Bank Account</mat-label>
                        <input matInput formControlName="nameAsPerBankAcc">
                        <mat-error *ngIf="!bankAccountDetailsForm.controls['nameAsPerBankAcc'].valid && bankAccountDetailsForm.controls['nameAsPerBankAcc'].touched">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="form-element">
                        <mat-label>IFSC Code</mat-label>
                        <input matInput formControlName="ifscCode">
                        <mat-error *ngIf="!bankAccountDetailsForm.controls['ifscCode'].valid && bankAccountDetailsForm.controls['ifscCode'].touched">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="form-element" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="form-element">
                        <mat-label>Bank Name</mat-label>
                        <input matInput formControlName="bankName">
                        <mat-error *ngIf="!bankAccountDetailsForm.controls['bankName'].valid && bankAccountDetailsForm.controls['bankName'].touched">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="form-element">
                        <mat-label>PAN/TAN Number</mat-label>
                        <input matInput formControlName="panTanNumber">
                        <mat-error *ngIf="!bankAccountDetailsForm.controls['panTanNumber'].valid && bankAccountDetailsForm.controls['panTanNumber'].touched">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="form-element" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="form-element">
                        <mat-label>Account Number</mat-label>
                        <input matInput formControlName="accountNumber">
                        <mat-error *ngIf="!bankAccountDetailsForm.controls['accountNumber'].valid && bankAccountDetailsForm.controls['accountNumber'].touched">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="form-element">
                        <mat-label>Aadhar Number</mat-label>
                        <input matInput formControlName="aadharNumber">
                        <mat-error *ngIf="!bankAccountDetailsForm.controls['aadharNumber'].valid && bankAccountDetailsForm.controls['aadharNumber'].touched">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="form-element" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="form-element">
                        <mat-label>Branch Name</mat-label>
                        <input matInput formControlName="branchName">
                        <mat-error *ngIf="!bankAccountDetailsForm.controls['branchName'].valid && bankAccountDetailsForm.controls['branchName'].touched">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="form-element">
                        <mat-label>GST Number</mat-label>
                        <input matInput formControlName="gstNumber">
                        <mat-error *ngIf="!bankAccountDetailsForm.controls['gstNumber'].valid && bankAccountDetailsForm.controls['gstNumber'].touched">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <mat-form-field class="invisible example-full-width">
                        <mat-label>Design Cafe Email</mat-label>
                        <input matInput formControlName="designCafeEmail">
                     </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-divider></mat-divider>
        <br>
        <div class="mat-typography">
            <h2 class="mat-title">Upload Files</h2>
            <h4 class="mat-subheading-1">Attach .png, .jpg, .pdf files only</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- <input type="file" (change)="onFileSelected($event)"> -->
                    <!-- <input type="file" (change)="onFileSelected($event)" id="img" style="display:none;"> -->
                    <!-- <label for="img">Click me to upload image</label> -->
                    <span *ngIf="panCard">
                        <input type="file" (change)="onFileSelected($event, 1)" id="img1" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                        </svg>
                        <label for="img1">{{panCardDisplayName}}</label>
                    </span>
                    <span *ngIf="!panCard">
                        <input type="file" (change)="onFileSelected($event, 1)">
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" style="font-size: small;" (click)="uploadFile(1)">Upload PAN/TAN Card</button>
                </div>
                <div class="col-lg-6">
                    <!-- <input type="file" (change)="onFileSelected($event)"> -->
                    <span *ngIf="aadharCard">
                        <input type="file" (change)="onFileSelected($event, 2)" id="img2" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                        </svg>
                        <label for="img2">{{aadharCardDisplayName}}</label>
                    </span>
                    <span *ngIf="!aadharCard">
                        <input type="file" (change)="onFileSelected($event, 2)">
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" style="font-size: small;" (click)="uploadFile(2)">Upload Aadhar Card</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <!-- <input type="file" (change)="onFileSelected($event)"> -->
                    <span *ngIf="gstCertificate">
                        <input type="file" (change)="onFileSelected($event, 3)" id="img3" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                        </svg>
                        <label for="img3">{{gstCertificateDisplayName}}</label>
                    </span>
                    <span *ngIf="!gstCertificate">
                        <input type="file" (change)="onFileSelected($event, 3)">
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" style="font-size: small;" (click)="uploadFile(3)">Upload GST Certificate</button>
                </div>
                <div class="col-lg-6">
                    <!-- <input type="file" (change)="onFileSelected($event)"> -->
                    <span *ngIf="passbook">
                        <input type="file" (change)="onFileSelected($event, 4)" id="img4" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                        </svg>
                        <label for="img4">{{passbookDisplayName}}</label>
                    </span>
                    <span *ngIf="!passbook">
                        <input type="file" (change)="onFileSelected($event, 4)">
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" style="font-size: small;" (click)="uploadFile(4)">Upload Passbook Front Page</button>
                </div>
            </div>
          </div>
        <br><br>
        <div class="center">
        <button mat-raised-button color="primary" type="submit" class="center" (click)="openSnackBar()" [disabled]="!bankAccountDetailsForm.valid">Edit and Save</button>
        </div>
    </form>
    </section>
</div>



<!-- <p>bank-account-details works!</p> -->
<!-- <h1 class="mat-display-4">display-4 &mdash; 112px light</h1>
<h2 class="mat-display-3">display-3 &mdash; 56px normal</h2>
<h3 class="mat-display-2">display-2 &mdash; 45px normal</h3>
<h4 class="mat-display-1">display-1 &mdash; 34px normal</h4>
<h1 class="mat-headline">headline (h1) &mdash; 24px normal</h1>
<h3 class="mat-subheading-2">subheading-2 (h3) &mdash; 16px normal</h3>
<p class="mat-body-1">body-1 &mdash; 14px normal</p>
<p class="mat-body-2">body-2 &mdash; 14px medium</p>
<p class="mat-caption">caption &mdash; 12px normal</p>      [fileAlias]="'file'"
        [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">   -->


<!-- <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
    <button type="button" class="btn btn-primary btn-s" 
    (click)="uploader.uploadAll()" 
    [disabled]="!uploader.getNotUploadedItems().length">
    Upload
    </button> -->


    <!-- <mat-file-upload></mat-file-upload> -->
        <!-- <label for="singleFile">Upload file</label>
        <input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
        <br>
 
        <mat-file-upload-queue #fileUploadQueue>
 
        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
        </mat-file-upload-queue> -->
