<!-- <p>recent-projects works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="pt-2 d-flex flex-row justify-content-between">
                <span style="font-size: large;">Attach upto 10 images of your most recent projects.</span>
                    <div class="pr-2">
                            <button class="btn btn-dark" style="font-weight: bold;" (click)="onChange()">Add Image</button>
                    </div>
            </div>
        </div>
    </div>

    <br>

</div>
        <br>
        <div class="container">
        <div class="row">
            <div class="col-xl-12" *ngIf="isShown">
                <input type="file" (change)="onFileSelected($event)">
                <!-- <button type="button" class="btn btn-primary" style="font-size: small;">Upload GST Certificate</button> -->
            </div>
        </div>
</div>








<!-- <div class="col-12 col-lg-6 d-flex flex-column">
    <div class="row">
        <span class="d-flex flex-column mt-3 mb-2" style="font-size: large;">Attach upto 10 images of your most recent projects.</span>
        <span class="d-flex flex-column mt-3 mb-2" *ngIf="!isShown">
            <button class="btn btn-dark" style="font-weight: bold;" (click)="onChange()">Add Image</button>
        </span>
    </div>
</div> -->



<!-- <div class="row">
    <div class="col-12 header">
        <span class="font-style">Commercials</span>
        <div class="d-flex justify-content-end" style="cursor: pointer;" *ngIf="!isShown">
            <span class="font-style" (click)="onChange()"><i class="far fa-edit"></i></span> 
            <span class="font-style">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </span>
        </div>
    </div>
</div> -->



<!-- <span style="font-size: large; padding: 50px;">Attach upto 10 images of your most recent projects. -->
                <!-- <h3 style="font-size: large;">Attach upto 10 images of your most recent projects.</h3> -->
            
            <!-- <div class="d-flex justify-content-end" style="padding-bottom: 1rem;" *ngIf="!isShown"> -->
            <!-- <span style="padding-left: 200px;"><button class="btn btn-dark" style="font-weight: bold;" (click)="onChange()">Add Image</button></span>
        </span> -->
        <!-- </div> -->