/* section {
    padding: 100px;
    text-align: center;
} */

section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    /* display: inline-block; */
     max-width: 700px;
     margin: auto;
     height: 450px; 
     width: 100%;
    background-color: linen;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: peru;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-left: 55px;
}

.center1 {
    margin-left: 30px;
}

.center2 {
    margin-left: 60px;
}

/* .row {
    margin: auto;
    padding: 180px 0 0 180px;
}

.loginComponentMain {
    height: 500px;
    width: 700px;
    background-color: #f3f1f0;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

* {
    box-sizing: border-box;
} */