    <section>
        <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 20%;"> 
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="container" *ngIf="!isLoading">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Sign In with Google Account</h1>
                    <div>
                        <img src="../../assets/the-home-interior-logo.png" 
                        alt="Home Interior Logo"
                        class="img-responsive"
                        style="max-height: 150px; margin-left: 70px;">
                    </div>
                    <br>
                    <button class="btn btn-outline-dark" type="submit" (click)="onRedirectToLogin()" style="text-transform:none; margin-right:5px">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" 
                            src="../../assets/google-logo.png" />Sign In with Google
                    </button>
                        <!-- <div>
                            <span class="font-regular-11">
                                <p class="center1">If in any case you are not able to login then</p>  
                                <p class="center2">contect support <span style="color: rgb(12, 0, 255);cursor: pointer;">here</span></p> 
                            </span>
                        </div> -->
                </div>
            </div>
        </div>
    </section>
    




<!-- <div class="container">
    <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 30%;"> 
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div>
            <div class="center loginComponentMain">
                    <div class="col-xs-12">
                        <h3>Sign In with Google Account</h3>
                        <button class="btn btn-success" type="submit" (click)="onRedirectToLogin()">Sign In with Google</button>
                    </div>
            </div>
        </div>
    </div>
</div> -->