<!-- <p>project-details works!</p> -->

<div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;"> 
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
  <div class="container">
    <div class="row">
        <div class="col-12 header">
            <span class="font-style">Primary Details</span>
        </div>
    </div>
    <div class="row background">

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Name</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.name ? newItem.name : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Customer ID</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.customerID ? newItem.customerID : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Sign Up Date</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.signUpDate ? newItem.signUpDate : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Planned end date</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.plannedEndDate ? newItem.plannedEndDate : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Meeting Venue</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.meetingVenue ? newItem.meetingVenue : '-' }}</span>
            </div>
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Team Name</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ (newItem.teamName) ? newItem.teamName : '-' }}</span>
                <!-- <span class="col-6 d-flex flex-column mt-3 mb-2">{{ (newItem.designTeam && newItem.designTeam.name) ? newItem.designTeam.name : '-' }}</span> -->
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Lead Owner</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.leadOwner ? newItem.leadOwner : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Region</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.region ? newItem.region : '-' }}</span>
            </div>
        </div>

    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-12 header">
            <span class="font-style">Commercials</span>
            <div class="d-flex justify-content-end" style="cursor: pointer;" *ngIf="!isShown">
                <!-- <span class="font-style" (click)="onChange()"><i class="far fa-edit"></i></span> -->
                <span class="font-style" (click)="onChange(newItem.projectValue, newItem.addonValue)">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </span>
            </div>
        </div>
    </div>
    <div class="row background">

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Project Value (Modular)</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!isShown">INR {{ newItem.projectValue ? newItem.projectValue : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="isShown">
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control"
                        [(ngModel)]="projectModularValue">
                    </div>
                    <!-- <div class="form-group">
                        <input type="text" class="form-control">
                    </div> -->
                </div>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Sign Up amount</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR {{ newItem.signUpAmount ? newItem.signUpAmount : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Total Project Value</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR {{ newItem.totalProjectValue ? newItem.totalProjectValue : '-' }}</span>
            </div>
            <!-- <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Latest BOQ</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.latestBOQ ? newItem.latestBOQ : '-' }}</span>
            </div> -->
            <!-- <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">
                    <div class="form-check form-check-inline">
                        <input 
                        class="form-check-input" 
                        id="deepCleaning"
                        type="checkbox"
                        [checked]="newItem.deepCleaningEnabled"
                        (change)="newItem.deepCleaningEnabled = !newItem.deepCleaningEnabled">
                        <label class="form-check-label" for="deepCleaning">Deep Cleaning</label>
                    </div>
                </span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR {{ newItem.deepCleaning ? newItem.deepCleaning : '-' }}</span>
            </div> -->
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Add-on Value</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!isShown">INR {{ newItem.addonValue ? newItem.addonValue : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="isShown">
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control"
                        [(ngModel)]="addOnValue">
                    </div>
                    <!-- <div class="form-group">
                        <input type="text" class="form-control">
                    </div> -->
                </div>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Achieved revenue</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR {{ newItem.achievedRevenue ? newItem.achievedRevenue : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Pending Amount</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">INR {{ newItem.pendingAmount ? newItem.pendingAmount : '-' }}</span>
            </div>
            <!-- <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Add-on Costing</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.addonCosting ? newItem.addonCosting : '-' }}</span>
            </div> -->
            <!-- <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Offers & discounts</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.offersAndDiscounts ? newItem.offersAndDiscounts : '-' }}</span>
            </div> -->
        </div>
        <br>

        <div class="col-12 col-lg-6 d-flex flex-column mt-3 mb-3" *ngIf="isShown">
            <div class="row" style="padding-left: 30px;">
                <button class="btn btn-outline-secondary" type="button" (click)="onUpdateProjectCommercial()">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-outline-secondary" type="button" (click)="onChange()">Cancel</button>
            </div>
        </div>

    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-12 header">
            <span class="font-style">Customer details</span>
        </div>
    </div>
    <div class="row background">

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Name</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.customerName ? newItem.customerName : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Contact #</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.contactNo ? newItem.contactNo : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Shipping Address</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.shippingAddress ? newItem.shippingAddress : '-' }}</span>
            </div>
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Email</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.email ? newItem.email : '-' }}</span>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Billing Address</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newItem.billingAddress ? newItem.billingAddress : '-' }}</span>
            </div>
        </div>

    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-12 header">
            <span class="font-style">Team details</span>
            <div class="d-flex justify-content-end" style="width: 50px; cursor: pointer;" *ngIf="!showData">
                 <!-- <span class="font-style" (click)="onSwitch()">Edit</span>  -->
                <span class="font-style" (click)="onSwitch(newItem.designer, newItem.CHM, newItem.salesExecutive, newItem.surveyExecutive, newItem.threeDDesignerShell, newItem.threeDDesignerRenders)">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </span> 
            </div>
        </div>
    </div>
    <div class="row background">

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Designer</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!showData">{{ newItem.designer ? newItem.designer : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="showData">
                    <div class="form-group">  
                        <input 
                        type="text" 
                        class="form-control"
                        (input)="findUserApi($event.target.value)"
                        (selectItem)="selectedItem($event,  0)"
                        [(ngModel)]="designer"
                        [ngbTypeahead]="search">
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Sales Executive</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!showData">{{ newItem.salesExecutive ? newItem.salesExecutive : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="showData">
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control"
                        (input)="findUserApi($event.target.value)"
                        (selectItem)="selectedItem($event, 1)"
                        [(ngModel)]="salesExecutive"
                        [ngbTypeahead]="search">
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">3D Designer (Shell)</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!showData">{{ newItem.threeDDesignerShell ? newItem.threeDDesignerShell : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="showData">
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control"
                        (input)="findUserApi($event.target.value)"
                        (selectItem)="selectedItem($event, 2)"
                        [(ngModel)]="threeDDesignerShell"
                        [ngbTypeahead]="search">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">CHM</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!showData">{{ newItem.CHM ? newItem.CHM : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="showData">
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control"
                        (input)="findUserApi($event.target.value)"
                        (selectItem)="selectedItem($event, 3)"
                        [(ngModel)]="CHM"
                        [ngbTypeahead]="search">
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">Survey Executive</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!showData">{{ newItem.surveyExecutive ? newItem.surveyExecutive : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="showData">
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control"
                        (input)="findUserApi($event.target.value)"
                        (selectItem)="selectedItem($event, 4)"
                        [(ngModel)]="surveyExecutive"
                        [ngbTypeahead]="search">
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="col-6 d-flex flex-column mt-3 mb-2">3D Designer (Renders)</span>
                <span class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="!showData">{{ newItem.threeDDesignerRenders ? newItem.threeDDesignerRenders : '-' }}</span>
                <div class="col-6 d-flex flex-column mt-3 mb-2" *ngIf="showData">
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control"
                        (input)="findUserApi($event.target.value)"
                        (selectItem)="selectedItem($event, 5)"
                        [(ngModel)]="threeDDesignerRenders"
                        [ngbTypeahead]="search">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="col-12 col-lg-6 d-flex flex-column mt-3 mb-3" *ngIf="showData">
            <div class="row" style="padding-left: 30px;">
                <button class="btn btn-outline-secondary" type="button" (click)="onUpdateTeamDetails()">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-outline-secondary" type="button" (click)="onSwitch()">Cancel</button>
            </div>
        </div>

    </div>
  </div>
</div>








































<!-- <div>
    <div class="row mx-0 d-flex justify-content-between col-12 pb-3 white-background">
    <p>{{projectItem.projectName}}</p>
    <p>{{projectItem.designer.firstName}}</p>
    <p>{{projectItem.currentMilestone}}</p>
    <p>{{projectItem.totalProjectValue}}</p>
    <p>{{projectItem.achievedRevenueValue}}</p>
    <p>{{projectItem.projectStatus}}</p>
    <p>{{projectItem.plannedHandoverDate}}</p>
</div> -->

<!-- (input)="findUserApi($event.target.value)" -->
                        <!-- 
                            [ngxTypeahead]="search" 
                        [value]="formatter" 
                        
                    [ngbTypeahead]="search" 
                        [resultFormatter]="formatter"
                    -->
                        <!-- *ngIf="suggestions.length" -->
                        <!-- <div *ngIf="suggestions.length"> -->
                            <!-- <p *ngFor="let s of suggestions">{{s}}</p> -->
                          <!-- </div> -->



<!-- <typeahead  [(ngModel)]="stateList" [typeAheadSetup]="typeAheadSetup"></typeahead> -->
                        <!-- <input 
                        type="text" 
                        class="form-control"
                        [(ngModel)]="stateList" [typeAheadSetup]="typeAheadSetup"> -->

