.header {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightsteelblue;
    border-radius: 5px 5px 0 0;
}

.font-style {
    font-weight: bold;
}

.background {
    background-color: whitesmoke;
}

/* .font-regular-12 {
    font-size: 12px !important;
    font-family: "Open Sans Regular" !important;
    color: #000;
    font-weight: 400 !important;
} */