<mat-sidenav-container class="sidenav-container" *ngIf="isLoggedIn">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <mat-toolbar color="primary">
      <!-- <img src="https://www.logodesign.net/logo/roof-incorporating-with-ornaments-5835ld.png?size=2&industry=interior-design"> -->
      <img src="../../assets/interior-design-logo.png" alt="Interior Design Logo" height="180%" width="100%">
    </mat-toolbar>
    <br><br>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" routerLinkActive="active" disableRipple>
        <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        </svg>&nbsp; --> 
        <mat-icon>home</mat-icon>&nbsp; <!-- https://material.io/resources/icons -->
        Home
      </a>
      <!-- <a mat-list-item routerLink="/lead" routerLinkActive="active" disableRipple> -->
        <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
        </svg>&nbsp; -->
        <!-- <mat-icon>people</mat-icon>&nbsp; https://material.io/resources/icons -->
        <!-- Leads -->
      <!-- </a> -->
      <a mat-list-item routerLink="/project" routerLinkActive="active" disableRipple>
      <!-- <a mat-list-item routerLink="/project/projectLinks/projectDetails" disableRipple skipLocationChange (click)="onProjectChange()"> -->
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
        </svg>&nbsp;
        Project
      </a>
      <a mat-list-item [routerLink]="['/profile/profileDetails']" routerLinkActive="active" disableRipple skipLocationChange (click)="onProfileChange()">
        <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
        </svg>&nbsp; -->
        <mat-icon>portrait</mat-icon>&nbsp; <!-- https://material.io/resources/icons -->
        Profile
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index: 999;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Interior Design Project</span>
      <span class="spacer"></span>
      <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-login *ngIf="!isLoggedIn"></app-login>








<!-- <li class="dropdown">
        <a style="cursor: pointer;" class="dropdown-toggle" role="button"
          >Manage <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
          </li>
          <li>
            <a style="cursor: pointer;">Profile</a>
          </li>
        </ul>
      </li> -->


      <!-- <mat-form-field>
        <mat-label><mat-icon>portrait</mat-icon></mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect>Action</button>
        <button type="button" mdbDropdownToggle mdbBtn color="danger" class="dropdown-toggle dropdown-toggle-split px-3 waves-light"
          mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div> -->
