.bi-person-circle{
    font-size: 16em;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

img {
    border-radius: 50%;
}

.profileButton {
    padding: 10px;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.profileButton:hover {
    background-color: lightsteelblue;
}