<div class="container">
    <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form (ngSubmit)="onEditProfile(f)" #f="ngForm" *ngIf="!isLoading">
        <!-- <form> -->
        <div class="row">

            <div class="col-lg-6 text-center">
                <div class="form-group">
                    <img [src]="imagePath" style="width:400px; height: 350px;"><br><br>
                    <input type="file" (change)="onFileSelected($event)" id="img" style="display:none;">
                    <label class="profileButton" for="img">Change Photo</label>
                    <!-- <img src="_sanitizer.bypassSecurityTrustResourceUrl('data:image/jpg;base64,' 
                + toReturnImage.base64string)" alt="Avatar" style="width:400px; height: 350px;"><br><br> -->
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="name"><b>Name</b></label><br>
                    <!-- <h3 class="display-3">{{profile.userObj.firstName}} {{profile.userObj.middleName}} {{profile.userObj.lastName}}</h3> -->
                    <input type="text" id="name" class="form-control" name="name" [(ngModel)]="newProfileData.name"
                        required #name="ngModel">
                    <span class="help-block" *ngIf="!name.valid && name.touched">Please enter the name</span>
                </div>

                <!-- </div> -->

                <!-- <div class="col-xs-3 col-6 col-12"> -->
                <div class="form-group">
                    <label for="phoneNumber"><b>Phone No</b></label>
                    <!-- <h3 class="display-3">{{profile.userObj.phoneNumber}}</h3> -->
                    <input type="text" id="phoneNumber" class="form-control" name="phoneNumber"
                        [(ngModel)]="newProfileData.phoneNumber" required pattern="^[0-9]+[0-9]*$"
                        #phoneNumber="ngModel">
                    <div *ngIf="phoneNumber.errors && (!phoneNumber.valid || phoneNumber.touched)">
                        <span class="help-block" *ngIf="phoneNumber.errors.required">Phone Number is required.</span>
                        <span class="help-block" *ngIf="phoneNumber.errors.pattern">Please enter valid Phone
                            Number.</span>
                    </div>
                    <!-- <span class="help-block" *ngIf="!phoneNumber.valid && phoneNumber.touched">Phone enter valid Phone Number.</span> -->
                </div>
                <!-- </div> -->

                <!-- <div class="col-xs-3 col-6 col-12"> -->
                <div class="form-group">
                    <label for="email"><b>Email Id</b></label>
                    <!-- <h3 class="display-3">{{profile.userObj.email}}</h3> -->
                    <input type="email" id="email" class="form-control" name="email" [(ngModel)]="newProfileData.email"
                        required email #email="ngModel">
                    <div *ngIf="email.errors && (!email.valid || email.touched)">
                        <span class="help-block" *ngIf="email.errors.required">Email is required.</span>
                        <span class="help-block" *ngIf="email.errors.email">Please enter a valid personal Email
                            ID</span>
                    </div>
                    <!-- <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid personal Email ID</span> -->
                </div>
                <!-- </div> -->

                <!-- <div class="col-xs-3 col-6 col-12"> -->
                <div class="form-group">
                    <label for="designCafeEmail"><b>Company's Email Id</b></label>
                    <!-- <h3 class="display-3">{{profile.userObj.designCafeEmail}}</h3> -->
                    <input type="email" id="designCafeEmail" class="form-control" name="designCafeEmail"
                        [(ngModel)]="newProfileData.designCafeEmail" required email #designCafeEmail="ngModel">
                    <div *ngIf="designCafeEmail.errors && (!designCafeEmail.valid || designCafeEmail.touched)">
                        <span class="help-block" *ngIf="designCafeEmail.errors.required">Email is required.</span>
                        <span class="help-block" *ngIf="designCafeEmail.errors.email">Please enter a valid official DC
                            Email ID</span>
                    </div>
                    <!-- <span class="help-block" *ngIf="!designCafeEmail.valid && designCafeEmail.touched">Please enter a valid official DC Email ID</span> -->
                </div>

                <div class="form-group">
                    <label for="education"><b>Education</b></label>
                    <!-- <h3 class="display-3">{{profile.userObj.education}}</h3> -->
                    <input type="text" id="education" class="form-control" name="education"
                        [(ngModel)]="newProfileData.education" required #education="ngModel">
                    <span class="help-block" *ngIf="!education.valid && education.touched">This field is
                        required.</span>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label><b>Gender</b></label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" [value]="1"
                                    [(ngModel)]="newProfileData.gender">Female
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" [value]="0"
                                    [(ngModel)]="newProfileData.gender">Male
                            </label>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label><b>Marital Status</b></label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="maritalStatus" [value]="0"
                                    [(ngModel)]="newProfileData.maritalStatus">Single
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="maritalStatus" [value]="1"
                                    [(ngModel)]="newProfileData.maritalStatus">Married
                            </label>
                        </div>
                    </div>

                </div>

                <!-- <div class="form-check-inline" *ngFor="let gender of genders">
                    <label class="form-check-label">
                      <input 
                      type="radio" 
                      class="form-check-input" 
                      name="gender"
                      [(ngModel)]="newProfileData.gender">
                      {{gender}}
                    </label>
                  </div> -->

            </div>

            <!-- <div class="col-lg-6 text-center">
               <div class="form-group"> 
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                      </svg>
                     <i class="far fa-user-circle"></i> 
                 </div> 
            </div> -->
        </div>
        <br>

        <div class="row">

            <div class="col-xl-12">
                <div class="form-group">
                    <label for="description"><b>Description</b></label>
                    <!-- <h3 class="display-3">{{profile.userObj.description}}</h3> -->
                    <textarea name="description" id="description" [(ngModel)]="newProfileData.description" required
                        cols="20" rows="5" class="form-control" #description="ngModel"></textarea>
                    <span class="help-block" *ngIf="!description.valid && description.touched">This field is
                        required.</span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="designAesthetics"><b>Design Aesthetics</b></label>
                    <!-- <h3 class="display-3">{{profile.userObj.designAesthetics}}</h3> -->
                    <input type="text" id="designAesthetics" class="form-control" name="designAesthetics"
                        [(ngModel)]="newProfileData.designAesthetics" required #designAesthetics="ngModel">
                    <span class="help-block" *ngIf="!designAesthetics.valid && designAesthetics.touched">This field is
                        required.</span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="favGoToColoursForProjects"><b>Fav Color to use in your Project?</b></label>
                    <!-- <h3 class="display-3">{{profile.userObj.favGoToColoursForProjects}}</h3> -->
                    <input type="text" id="favGoToColoursForProjects" class="form-control"
                        name="favGoToColoursForProjects" [(ngModel)]="newProfileData.favGoToColoursForProjects" required
                        #favGoToColoursForProjects="ngModel">
                    <span class="help-block"
                        *ngIf="!favGoToColoursForProjects.valid && favGoToColoursForProjects.touched">This field is
                        required.</span>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="form-group">
                    <label for="favDecorItem"><b>Favorite Piece Decor Item</b></label>
                    <!-- <h3 class="display-3">{{profile.userObj.favDecorItem}}</h3> -->
                    <textarea name="favDecorItem" id="favDecorItem" cols="10" rows="2"
                        [(ngModel)]="newProfileData.favDecorItem" required class="form-control"
                        #favDecorItem="ngModel"></textarea>
                    <span class="help-block" *ngIf="!favDecorItem.valid && favDecorItem.touched">This field is
                        required.</span>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="form-group">
                    <label for="hobbiesAndInterests"><b>Hobbies & Interests</b></label>
                    <!-- <h3 class="display-3">{{profile.userObj.hobbiesAndInterests}}</h3> -->
                    <textarea name="hobbiesAndInterests" id="hobbiesAndInterests" cols="10" rows="2"
                        [(ngModel)]="newProfileData.hobbiesAndInterests" required class="form-control"
                        #hobbiesAndInterests="ngModel"></textarea>
                    <span class="help-block" *ngIf="!hobbiesAndInterests.valid && hobbiesAndInterests.touched">This
                        field is required.</span>

                </div>
            </div>

            <!-- <div class="col-xl-12">
                <div class="form-group">
                    <label for="pets">My Pets</label>
                    <textarea name="pets" id="pets" cols="10" rows="2" class="form-control"></textarea>
                </div>
            </div> -->

            <div class="col-xl-12 text-center">
                <button class="btn btn-outline-secondary" type="submit" (click)="openSnackBar()"
                    [disabled]="!f.valid">Edit & Save Profile</button>
            </div>

        </div>
    </form>
</div>









<!-- <p>profile works!</p> -->
<!-- <button class="btn btn-primary" (click)="getprofile()">Click here to show profile data</button>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li>First Name: {{profile.userObj.firstName}}</li>
                <li>Middle Name: {{profile.userObj.middleName}}</li>
                <li>Last Name: {{profile.userObj.lastName}}</li>
                <li>Email: {{profile.userObj.designCafeEmail}}</li>
                <li>Phone No: {{profile.userObj.phoneNumber}}</li>
                <li>User Name: {{profile.userObj.userName}}</li>
            </ul>
        </div>
    </div>
</div> -->


<!-- firstName
    middleName
    lastName
    designCafeEmail
    phoneNumber
    userName -->

<!-- <p>pattern="^[0-9]+[0-9]*$"</p> -->



<!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                      </svg>
                     <i class="far fa-user-circle"></i>  -->