.background {
    background-color: whitesmoke;
}

.header {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightsteelblue;
    border-radius: 5px 5px 0 0;
}

.editControls {
    padding-top: 1em; 
    padding-bottom: 1em;
  }
  
  .editor {
    resize: vertical;
    overflow: auto;
    border: 1px solid silver;
    border-radius: 5px;
    min-height: 100px;
    padding: 1em;
    background: white;
    margin: 0 auto;
  }