<!-- <p>mom works!</p> -->

    <!-- <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;"> 
        <app-loading-spinner></app-loading-spinner>
    </div> -->
    <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;"> 
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="container" *ngIf="!isShown">
        <div class="row" *ngIf="!isLoading">
            <button class="btn btn-dark" style="font-weight: bold; padding-left: 50px; padding-right: 50px;" (click)="onSwitch()">Create MoM</button>
        </div>
        <br><br>
        <!-- <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;"> 
            <app-loading-spinner></app-loading-spinner>
        </div> -->
        <div class="row" *ngIf="!isLoading">
            <table class="table table-hover" cellspacing="0" width="100%">
                <thead class="thead-light">
                    <tr>
                        <th>Meeting Agenda</th>
                        <th>Attachments</th>
                        <!-- <th>MoM</th> -->
                        <th>Status</th>
                        <!-- <th>Sent On</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projectMomListArr">
                        <td style="cursor: pointer;" (click)="onClick(project)">{{ project.meetingAgenda ? project.meetingAgenda : '-' }}</td>
                        <td>
                            <span *ngIf="project.attachment">
                                <a (click)="goToUrl(project.attachment)" target="_blank" style="cursor: pointer;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                                        <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                                    </svg>
                                    <!-- <label>{{paymentConfirmation.awsSupportingDocumentURLKey}}</label> -->
                                </a>
                            </span>
                            {{ project.awsAttachmentKey ? project.awsAttachmentKey : '-' }}
                        </td>
                        <!-- <td>{{ project.mom ? project.mom : '-' }}</td> -->
                        <td>{{ project.status ? project.status : '-' }}</td>
                        <!-- <td>{{ project.sentOn ? project.sentOn : '-' }}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;"> 
        <app-loading-spinner></app-loading-spinner>
    </div>  -->
<div *ngIf="!isLoading">
    <div class="container" *ngIf="isShown">
        <div class="row">
            <div class="col-12 header">
                <span class="font-style">Minutes of Meeting</span>
            </div>
        </div>
        <div class="row background">
    
            <div class="col-12 col-lg-6 d-flex flex-column">
                <div class="row">
                    <span class="col-6 d-flex flex-column mt-3 mb-2">Project name</span>
                    <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newMomItem.name ? newMomItem.name : '-' }}</span>
                </div>
                <div class="row">
                    <span class="col-6 d-flex flex-column mt-3 mb-2">Customer name</span>
                    <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newMomItem.customerName ? newMomItem.customerName : '-' }}</span>
                </div>
                <div class="row">
                    <span class="col-6 d-flex flex-column mt-3 mb-2">Customer contact #</span>
                    <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newMomItem.contactNo ? newMomItem.contactNo : '-' }}</span>
                </div>
            </div>
    
            <div class="col-12 col-lg-6 d-flex flex-column">
                <div class="row">
                    <span class="col-6 d-flex flex-column mt-3 mb-2">Designer</span>
                    <span class="col-6 d-flex flex-column mt-3 mb-2">{{ newMomItem.designer ? newMomItem.designer : '-' }}</span>
                    <!-- <span class="col-6 d-flex flex-column mt-3 mb-2">{{ (newItem.designTeam && newItem.designTeam.name) ? newItem.designTeam.name : '-' }}</span> -->
                </div>
                <div class="row">
                    <span class="col-6 d-flex flex-column mt-3 mb-2">Meeting agenda</span>
                    <span class="col-6 d-flex flex-column mt-3 mb-2">
                        <select class="custom-select mr-sm-2 st" [(ngModel)]="selectedMeetingAgenda">
                          
                            <option *ngFor="let agenda of meetingAgendaArray">{{ agenda }}</option>
                            <!-- <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option> -->
                        </select>
                    </span>
                </div>
                <div class="row">
                    <span class="col-6 d-flex flex-column mt-3 mb-2">Meeting date</span>
                    <!-- <span class="col-6 d-flex flex-column mt-3 mb-2" (click)="onClick()">-</span> -->
                    <div class="col-3 d-flex mt-3 mb-1" style="text-align: center;">
                        <input style="height: 30px; width: 130px;" matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="addEvent($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!-- <span class="col-6 d-flex flex-column mt-3 mb-2" (click)="onClick()">x</span> -->
                    </div>
                </div>
            </div>
 
            <div class="col-12">
                
                <div class="editControls">
                    <quill-editor [styles]="{height: '200px'}" [(ngModel)]="description"></quill-editor>
                </div>
                
                <!-- <div #editor class="editor" [(innerHtml)]="description" (input)="onChange()" contenteditable></div> -->
                
            </div>

            <br>

            <div class="col-12">
                <!-- <input type="file" (change)="onFileSelected($event)"> -->
                <span *ngIf="attachmentURL">
                    <input type="file" (change)="onFileSelected($event)" id="img" style="display:none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                        <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
                    </svg>
                    <label for="img">{{attachmentDisplayName}}</label>
                </span>
                <span *ngIf="!attachmentURL">
                    <input type="file" (change)="onFileSelected($event)">
                </span>
            </div>

            <br>
            <div class="col-12 col-lg-6 d-flex flex-column mt-3 mb-3" *ngIf="isShown">
                <div class="row" style="padding-left: 30px;">
                    <!-- <button class="btn btn-outline-secondary" type="button">Send</button>&nbsp;&nbsp;&nbsp;&nbsp; -->
                    <button class="btn btn-outline-secondary" type="button" (click)="saveMom()">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-outline-secondary" type="button" (click)="onSwitch()">Cancel</button>
                </div>
            </div>
    
        </div>
    </div>
</div>
















<!-- <div class="dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                              Dropdown button
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item">Link 1</a>
                              <a class="dropdown-item">Link 2</a>
                              <a class="dropdown-item">Link 3</a>
                            </div>
                          </div> -->



<!-- <div class="btn-group">
                        <button type="button" class="btn btn-dark" (click)="setStyle('bold')">
                      <b>B</b>
                    </button>
                        <button type="button" class="btn btn-dark" (click)="setStyle('italic')">
                      <em><b>I</b></em>
                    </button>
                        <button type="button" class="btn btn-dark" (click)="setStyle('underline')">
                      <u><b>U</b></u>
                    </button>
                        <button type="button" class="btn btn-dark" (click)="setStyle('strikeThrough')">
                      <s>abc</s>
                    </button>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp; -->
                    <!-- <div class="btn-group">
                        <button type="button" class="btn btn-dark" (click)="setStyle('blockQuote')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-blockquote-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                                <path d="M12.168 6.352c.184.105.332.197.445.275.114.074.229.174.346.299.11.117.193.24.252.369s.1.295.123.498h-.281c-.243 0-.432.06-.569.182-.14.117-.21.29-.21.521 0 .164.062.318.187.463.121.14.289.21.504.21.336 0 .576-.108.72-.327.145-.223.217-.514.217-.873 0-.254-.054-.485-.164-.692a2.436 2.436 0 0 0-.398-.562c-.16-.168-.33-.31-.51-.428-.18-.117-.33-.213-.451-.287l-.211.352zm-2.168 0c.184.105.332.197.445.275.114.074.229.174.346.299.113.12.2.246.258.375.055.125.094.289.117.492h-.281c-.242 0-.432.06-.569.182-.14.117-.21.29-.21.521 0 .164.062.318.187.463.121.14.289.21.504.21.336 0 .576-.108.72-.327.145-.223.217-.514.217-.873 0-.254-.054-.485-.164-.692a2.438 2.438 0 0 0-.398-.562c-.16-.168-.33-.31-.51-.428-.18-.117-.33-.213-.451-.287L10 6.352z"/>
                            </svg>
                        </button>
                    <button type="button" class="btn btn-dark" (click)="setStyle('justifyLeft')">
                      <b><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-justify-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                      </svg></b>
                    </button>
                    <button type="button" class="btn btn-dark" (click)="setStyle('justifyCenter')">
                      <b><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-justify" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                      </svg></b>
                    </button>
                    <button type="button" class="btn btn-dark" (click)="setStyle('justifyRight')">
                      <b><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-justify-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                      </svg></b>
                    </button>
                     </div> -->