<!-- <p>project works!</p> -->
<!-- <button class="btn btn-primary" type="button" (click)="onProjectLink()" *ngIf="outlet.isActivated == false">Click</button> -->
<h1 class="display-1" style="font-weight: bold;">Projects</h1>
<div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;"> 
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
    <table class="table table-hover" cellspacing="0" width="100%" *ngIf="outlet.isActivated == false">
        <thead class="thead-dark">
            <tr>
                <th>Project Name</th>
                <th>Design Name</th>
                <th>Current Milestone</th>
                <th>Value in INR</th>
                <th>Achieved Revenue</th>
                <th>Status</th>
                <th>Planned Handover</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projectItemArr" style="cursor: pointer;" (click)="onProjectLink(project)">
                <td>{{project.name}}</td>
                <td>{{project.designName}}</td>
                <td>{{project.currentMilestone}}</td>
                <td>{{project.valueINR}}</td>
                <td>{{project.achievedRevenue}}</td>
                <td>{{project.status}}</td>
                <td>{{project.plannedHandover}}</td>
            </tr>
        </tbody>
    </table>
</div>
  

    <div class="container">
        <router-outlet #outlet="outlet"></router-outlet>
        <!-- <app-project-links [showItem]="clickedItem"></app-project-links> -->
    </div>








    <!-- <tr *ngFor="let project of projectItemArr" style="cursor: pointer;" (click)="onProjectLink(project)">
                <td>{{project.projectName}}</td>
                <td>{{project.designer.firstName}}</td>
                <td>{{project.currentMilestone}}</td>
                <td>{{project.totalProjectValue}}</td>
                <td>{{project.achievedRevenueValue}}</td>
                <td>{{project.projectStatus}}</td>
                <td>{{project.plannedHandoverDate}}</td>
    </tr> -->


     <!-- <div class="card text-center m-3">
        <h3 class="card-header">Angular 8 Pagination Example</h3>
        <div class="card-body">
            <div *ngFor="let item of pageOfItems">{{item.name}}</div>
        </div>
        <div class="card-footer pb-0 pt-3">
            <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </div> -->

