<div  class="container">

    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link" routerLink="./profileDetails" routerLinkActive="active" skipLocationChange>Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./bankAccountDetails" routerLinkActive="active" skipLocationChange>Bank Account Details</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="./recentProjects" routerLinkActive="active" skipLocationChange>Recent Projects</a>
          </li> -->
      </ul>
    </div>
    <br>
   
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    




    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
         <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
           <a class="nav-link" routerLink="../profileDetails" routerLinkActive="active">Profile Details <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
           <a class="nav-link" routerLink="about" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" routerLink="privacy" routerLinkActive="active">Privacy Policy</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" routerLink="terms" routerLinkActive="active">Terms and Conditions</a>
          </li>
         </ul>
        </div>
       </nav> -->