<!-- <p>project-milestones works!</p> -->


<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " style="cursor: pointer;" (click)="segregateMilestoneForPhases(0,2,0)" [class.phase-active]="phase === 0">Pre-Design</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="segregateMilestoneForPhases(3,14,1)" [class.phase-active]="phase === 1">Design</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="segregateMilestoneForPhases(15,50,2)" [class.phase-active]="phase === 2">Production</a>
        </li>
    </ul>
</div>
<br>


<div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;"> 
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
    <table class="table table-light table-striped" cellspacing="0" width="100%">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th style="text-align: left;">Miletone</th>
                <th>Assigned To</th>
                <th>Team Name</th>
                <th>Start Date</th>
                <th>Planned End Date</th>
                <th>Mark As Complete</th>
                <th>Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;" *ngFor="let milestone of projectMilestoneListArr">
                <td style="text-align: left; width: 15%;">{{ milestone.milestoneName ? milestone.milestoneName : '-' }}</td>
                <td>{{ milestone.assignedTo ? milestone.assignedTo : '-' }}</td>
                <td>{{ milestone.teamName ? milestone.teamName : '-' }}</td>
                <td>{{ milestone.startDate ? milestone.startDate : '-' }}</td>
                <td *ngIf="currentEditingMilestone !== milestone.id">{{ milestone.plannedEndDate ? milestone.plannedEndDate : '-' }}</td>
                <div class="col-6 d-flex mt-3 mb-1" style="text-align: center; padding-left: 30px;" *ngIf="currentEditingMilestone === milestone.id">
                    <input style="height: 30px; width: 130px;" matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="addEvent($event, milestone.id)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <td>
                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input"
                            type="checkbox"
                            [checked]="milestone.markAsComplete"
                            (change)="onEditProjectMilestoneComplete(milestone.id, !milestone.markAsComplete)">
                        </div>
                </td>
                <td>{{milestone.completionDate ? milestone.completionDate : '-' }}</td>
                <span class="font-style" style="cursor: pointer;" (click)="onChange(milestone.id, milestone.plannedEndDate)" *ngIf="currentEditingMilestone !== milestone.id && milestone.markAsComplete === false">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </span>
                <span class="font-style" *ngIf="currentEditingMilestone === milestone.id">
                    <a style="cursor: pointer; color: blue;" (click)="onUpdateProjectMilestone()">Save</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="cursor: pointer; color: blue;" (click)="onChange(null)">Cancel</a>
                </span>
            </tr>
        </tbody>
    </table>
</div>






























<!-- <div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="./preDesignStage" routerLinkActive="active" skipLocationChange>Pre-Design Stage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./designStage" routerLinkActive="active" skipLocationChange>Design Stage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./postDesignStage" routerLinkActive="active" skipLocationChange>Post-Design Stage</a>
        </li>
    </ul>
</div> -->
<!-- <br> -->

<!-- <div *ngIf="!isLoading">
    <table class="table table-light table-striped" cellspacing="0" width="100%">
        <thead class="thead-light">
            <tr style="text-align: center;">
                <th style="text-align: left;">Miletone</th>
                <th>Assigned To</th>
                <th>Team Name</th>
                <th>Start Date</th>
                <th>Planned End Date</th>
                <th>Mark As Complete</th>
                <th>Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;" *ngFor="let milestone of projectMilestoneListArr">
                <td style="text-align: left; width: 15%;">{{ milestone.milestoneName ? milestone.milestoneName : '-' }}</td>
                <td>{{ milestone.assignedTo ? milestone.assignedTo : '-' }}</td>
                <td>{{ milestone.teamName ? milestone.teamName : '-' }}</td>
                <td>{{ milestone.startDate ? milestone.startDate : '-' }}</td>
                <td *ngIf="currentEditingMilestone !== milestone.id">{{ milestone.plannedEndDate ? milestone.plannedEndDate : '-' }}</td>
                <div class="col-6 d-flex mt-3 mb-1" style="text-align: center; padding-left: 30px;" *ngIf="currentEditingMilestone === milestone.id">
                    <input style="height: 30px; width: 130px;" matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="addEvent($event, milestone.id)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                        <div class="form-check form-check-inline">
                            <input 
                            class="form-check-input"
                            type="checkbox"
                            [checked]="milestone.markAsComplete"
                            (change)="onEditProjectMilestoneComplete(milestone.id, !milestone.markAsComplete)">
                        </div>
                </td>
                <td>{{milestone.completionDate ? milestone.completionDate : '-' }}</td>
                <span class="font-style" style="cursor: pointer;" (click)="onChange(milestone.id, milestone.plannedEndDate)" *ngIf="currentEditingMilestone !== milestone.id && milestone.markAsComplete === false">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </span>
                <span class="font-style" *ngIf="currentEditingMilestone === milestone.id">
                    <a style="cursor: pointer; color: blue;" (click)="onUpdateProjectMilestone()">Save</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="cursor: pointer; color: blue;" (click)="onChange(null)">Cancel</a>
                </span>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- <div class="container">
    <router-outlet></router-outlet>
</div> -->


<!-- <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>  -->