.text {
    text-align: center;
}

.container {
    /* margin-right: 10%; */
    /* height: 30%; */
    /* width: 1110px; */
    max-width: 100%;
}

.row {
    margin-right: 1px;
}

/* .book-an-apponitment-contain-new {
    width: 100px;
} */

.font {
    font-weight: bold;
    /* font-size: 50%; */
}

.font-style {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: medium;
}

.font-style-label {
    font-size: large;
    /* font-weight: bold; */
}

.mat-grid-tile {
    background-color: skyblue;
}

.divide {
    display: flex;
    /* width: 100px; */
    margin: 10px;
    max-width: 100%;
    /* line-height: 75px; */
}

.tooltip-color {
    background:darkcyan;
}

.tooltip-position {
    margin: auto;
  }

/* .divider > mat-card {
     background-color: DodgerBlue;
    color: white; 
    width: 100px;
    margin: 10px;
     text-align: center; 
     line-height: 75px;
     font-size: 30px; 
  } */

/* .align {
    text-align: left;
} */