<!-- <p>home works!</p> -->

<!-- Carousal Slideshow using owl carousel -->

<!-- <div class="text">Some tags before</div> -->
<div class="container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img
        src="../../assets/loby.jpg"
        alt="Loby"
        class="img-responsive"
        style="max-height: 500px;">
    </ng-template>  
    <ng-template carouselSlide>
        <img
        src="../../assets/kitchen.jpg"
        alt="Kitchen"
        class="img-responsive"
        style="max-height: 500px;">
    </ng-template>  
    <ng-template carouselSlide>
        <img
        src="../../assets/bedroom.jpg"
        alt="Bedroom"
        class="img-responsive"
        style="max-height: 500px;">
    </ng-template>  
  </owl-carousel-o>
  <!-- <div class="text">Some tags after</div> -->
  <br><br>

  <!-- Bootstrap Column Division -->


  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <h1 class="font">Our Project and team Info</h1>
          </div>
          <div class="row">
            <div class="col-md-4 col-8">
              <div>
                  <!-- <img src="https://highlandparknc.com/wp-content/uploads/2017/01/meeting-notice.jpg" -->
                  <img src="../../assets/upcoming-meeting.jpg" 
                  alt=""
                  class="img-responsive"
                  style="max-height: 200px;">
              </div>
              <br>
              <div class="book-an-apponitment-contain-new">
                  <span>
                      <h4>Upcoming meeting with client to get the overall information regarding design pattern</h4>
                  </span>
              </div>
            </div>

            <div class="col-md-4 col-8">
              <div>
                  <!-- <img src="https://www.careeraddict.com/uploads/article/53956/Businessman_20presenting_20to_20colleagues_20at_20a_20meeting_20_700x400_.jpg" -->
                  <img src="../../assets/team-meeting.jpg" 
                  alt=""
                  class="img-responsive"
                  style="max-height: 200px;">
              </div>
              <br>
              <div class="book-an-apponitment-contain-new">
                  <span>
                      <h4>Planning and implementing project and discuss progress and risk factor with team lead and members</h4>
                  </span>
              </div>
            </div>

            <div class="col-md-4 col-8">
              <div>
                  <!-- <img src="https://www.edureka.co/blog/wp-content/uploads/2019/02/Project-Risk-Management.jpg" -->
                  <img src="../../assets/Project-Risk-Management.jpg" 
                  alt=""
                  class="img-responsive"
                  style="max-height: 200px;">
              </div>
              <br>
              <div class="book-an-apponitment-contain-new">
                  <span>
                      <h4>Understand the risk factor, progress and risk growth and manage the risk factor accordingly</h4>
                  </span>
              </div>
            </div>

          </div>
      </div>
  </div>
  <br><br>


      <!-- Expension Panel in Angular Material -->

      <div class="row">
        <div class="col-xs-12">
            <h1 class="font">Basic Requirement Details</h1>
        </div>
        </div>

    <mat-accordion hideToggle>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lead
          </mat-panel-title>
          <mat-panel-description>
            Regarding Clients Requirement
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Here all the clients requirements and Details are presented.</p>
        <p>Lead personal details has been saved.</p>
        <p>All the files regarding design pattern has been uploaded and updated.</p>
        <p>Calculated amount has been updated.</p>
        <!-- <mat-action-row>
          <button mat-raised-button>Test</button>
        </mat-action-row> -->
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Project
          </mat-panel-title>
          <mat-panel-description>
            Regarding Project Detailing
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Here all the projects details has been presented.</p>
        <p>Here all the projects milestones has been achieved.</p>
        <p>Here all the files regarding designing has been saved.</p>
        <p>Full project and client details has been shown in MOM.</p>
        <!-- <mat-action-row>
          <button mat-raised-button>Test</button>
        </mat-action-row> -->
      </mat-expansion-panel>
    </mat-accordion>
    <br><br>



      <!-- Grid List in Angular Material -->

      <div class="row">
        <div class="col-xs-12">
            <h1 class="font">Project Growth</h1>
        </div>
        </div>

      <mat-grid-list cols="2" rowHeight="200px" gutterSize="10px">
        
        <mat-grid-tile><mat-button matTooltip="Project Designer set the monthly goal of a project to achieve target on given time." matTooltipClass="tooltip-color" class="tooltip-position">Monthly Goals</mat-button></mat-grid-tile>
        <mat-grid-tile><mat-button matTooltip="Project designer is able to check and control overall performance and improve the efficiency." matTooltipClass="tooltip-color" class="tooltip-position">Overall Performance</mat-button></mat-grid-tile>
        <mat-grid-tile><mat-button matTooltip="Based on monthly achievement, project designer is able to set targets and goals." matTooltipClass="tooltip-color" class="tooltip-position">Monthly Achievement</mat-button></mat-grid-tile>
        <mat-grid-tile><mat-button matTooltip="All the scenarios are designed on the basis of target so that revenue has been achieved" matTooltipClass="tooltip-color" class="tooltip-position">Achieved Revenue</mat-button></mat-grid-tile>
      </mat-grid-list>
      <br><br>


      <!-- Tabs in Angular Material -->

      <div class="row">
        <div class="col-xs-12">
            <h1 class="font">Guides for Home Interior</h1>
        </div>
      </div>

      <mat-tab-group dynamicHeight> 
        <mat-tab label="Kitchen Guides">
          <p class="font-style-label">Are You Designing Your Kitchen?</p>
          <span>
            <p class="font-style">Below are the few guides which will help you to design you kitchen in most elegant way</p>
            <ul>
              <li>You have to be enough spane in your kitchen.</li>
              <li>Should be any layout for eg. U shaped, Parallel, straight kitchen</li>
              <li>We provide multifunctional furniture in your kitchen</li>
            </ul>
            <!-- <img src="https://images.adsttc.com/media/images/5768/4207/e58e/ce73/4d00/001d/newsletter/Im%C3%A1gen_1_color_4.jpg?1466450435" alt="Kitchen Architecture Design"> -->
            <img 
            src="../../assets/kitchen-architechture.jpg" 
            alt="Kitchen Architecture Design"
            class="img-responsive"
            style="max-height: 350px;">
          </span>
        </mat-tab>
        <mat-tab label="Bedroom Guides">
          <p class="font-style-label">Are You Designing Your Bedroom?</p>
          <span>
            <p class="font-style">Below are the few guides which will help you to design you bedroom in most elegant way</p>
            <ul>
              <li>Spruce Up Your Bedroom With The Right Furniture</li>
              <li>Complement It With A Headboard</li>
              <li>Choose A Wardrobe That’s Right For You</li>
            </ul>
            <!-- <img src="https://www.roomsketcher.com/wp-content/uploads/2016/10/Bedroom-Floor-Plan-1.jpg" alt="Bedroom Architecture Design"> -->
            <img 
            src="../../assets/bedroom-architechture-1.jpg" 
            alt="Bedroom Architecture Design"
            class="img-responsive"
            style="max-height: 350px;">
          </span>
        </mat-tab>
        <mat-tab label="Living Room Guides">
          <p class="font-style-label">Are You Designing Your Living Room?</p>
          <span>
            <p class="font-style">Below are the few guides which will help you to design you living room in most elegant way</p>
            <ul>
              <li>A Small Living Room Layout with minimal amount of furnitures</li>
              <li>A Living Room With Stairs As Part Of The Layout</li>
              <li>A Rectangle Shaped Living Room Layout</li>
            </ul>
            <!-- <img src="https://images.squarespace-cdn.com/content/v1/580abd984402436a4fed69f7/1558561091098-YEGFBXJPU5TIPTKTAIY6/ke17ZwdGBToddI8pDm48kPxhtEv_Uv_KU2ieiSkkE6R7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0rnyEozHZHKKGQUjYOHEhepOs-wYX4oXaDjX5KYCZ-GkZh9P0kw5Vg_TQwglTNKt0g/Floor+Plan+Idea+2+for+a+Living+Room+or+Great+Room+Layout+1.png" alt="Living Room Architecture Design"> -->
            <img 
            src="../../assets/living-room-architecture.png" 
            alt="Living Room Architecture Design"
            class="img-responsive"
            style="max-height: 350px;">
          </span>
        </mat-tab>
        <mat-tab label="Dining Room Guides">
          <p class="font-style-label">Are You Designing Your Dining Room?</p>
          <span>
            <p class="font-style">Below are the few guides which will help you to design you Dining room in most elegant way</p>
            <ul>
              <li>Complement The Dining Table With The Right Chairs</li>
              <li>Dining Room Sideboards And Crockery Units For Storage And Style</li>
              <li>Dining Room Colour That Adds Taste And Sets The Mood</li>
            </ul>
            <!-- <img src="https://img.favpng.com/7/12/8/table-floor-plan-chair-architecture-dining-room-png-favpng-WnvmwdXNqX8BeSQitp9WDu4K0.jpg" alt="Dining Room Architecture Design"> -->
            <img 
            src="../../assets/dining-room-architecture.jpg" 
            alt="Dining Room Architecture Design"
            class="img-responsive"
            style="max-height: 350px;">
          </span>
        </mat-tab>
      </mat-tab-group>
      <br><br>



      <!-- Card in Angular Material -->
      <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <h1 class="font">Customer Review</h1>
        </div>
      </div>
      <br>

      <!-- ================ -->
      
            <div class="row">
              <div class="col-md-4 col-8">
                <div>
                    <!-- <img src="https://highlandparknc.com/wp-content/uploads/2017/01/meeting-notice.jpg" -->
                    <img src="../../assets/customer1.jpg" 
                    alt=""
                    class="img-responsive"
                    style="max-height: 200px;">
                </div>
                <br>
                <div class="book-an-apponitment-contain-new">
                    <span>
                      <p class="font-style">The team of interior decorator has added glitters to our life with amazing designs for our home by great execution. They designed simple and minimalistic interiors without compromising on storage solutions.</p>
                    </span>
                </div>
              </div>
  
              <div class="col-md-4 col-8">
                <div>
                    <!-- <img src="https://www.careeraddict.com/uploads/article/53956/Businessman_20presenting_20to_20colleagues_20at_20a_20meeting_20_700x400_.jpg" -->
                    <img src="../../assets/customer2.jpg" 
                    alt=""
                    class="img-responsive"
                    style="max-height: 200px;">
                </div>
                <br>
                <div class="book-an-apponitment-contain-new">
                    <span>
                      <p class="font-style"> Working with the team of interior decorator was a great experience and they paid lots of attention to our requirements. They designed our kitchen, bar unit and pooja unit with very innovative storage solutions.</p>
                    </span>
                </div>
              </div>
  
              <div class="col-md-4 col-8">
                <div>
                    <!-- <img src="https://www.edureka.co/blog/wp-content/uploads/2019/02/Project-Risk-Management.jpg" -->
                    <img src="../../assets/customer3.jpg" 
                    alt=""
                    class="img-responsive"
                    style="max-height: 200px;">
                </div>
                <br>
                <div class="book-an-apponitment-contain-new">
                    <span>
                      <p class="font-style"> The team of interior decorator's experience centre had a collection of creative designs and our search for a home interior firm ended here. We were happy with flawless execution and timely customer interaction.</p>
                    </span>
                </div>
              </div>
  
            </div>
    </div>
    <!-- ============= -->
  </div>


      <!-- <div class="divide">
        <div class="col-md-4 col-8">
      <mat-card>
          <mat-card-content>
            <img src="../../assets/customer1.jpg" 
            alt="Customer 1"
            class="img-responsive"
            style="max-height: 200px;">
            <blockquote>
            <span>
              <p class="font-style">The team of interior decorator has added glitters to our life with amazing designs for our home by great execution. They designed simple and minimalistic interiors without compromising on storage solutions.</p>
            </span>
          </blockquote>
          </mat-card-content>
        </mat-card>
        </div>
          <div class="col-md-4 col-8">
          <mat-card>
            <mat-card-content>
              <img src="../../assets/customer2.jpg" 
              alt="Customer 2"
              class="img-responsive"
              style="max-height: 200px;">
              <blockquote>
                <span>
                  <p class="font-style"> Working with the team of interior decorator was a great experience and they paid lots of attention to our requirements. They designed our kitchen, bar unit and pooja unit with very innovative storage solutions.</p>
                </span>
              </blockquote>
            </mat-card-content>
          </mat-card>
          </div>
            <div class="col-md-4 col-8">
            <mat-card>
              <mat-card-content>
                <img src="../../assets/customer3.jpg" 
                alt="Customer 3"
                class="img-responsive"
                style="max-height: 200px;">
                <blockquote>
                <span>
                  <p class="font-style"> The team of interior decorator's experience centre had a collection of creative designs and our search for a home interior firm ended here. We were happy with flawless execution and timely customer interaction.</p>
                </span>
              </blockquote>
              </mat-card-content>
      </mat-card>
      </div>
    </div> -->






























  <!-- <div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">
 
    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>
 
  </owl-carousel-o>
  <div>Some tags after</div> -->







<!-- <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->
  







<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="..." alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
  </div> -->





<!-- <mdb-carousel [isControls]="false" [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel> -->





  <!-- <div class="container">
    <h2>Carousel Example</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
      
        <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
  
      <!-- Wrapper for slides -->
      <!-- <div class="carousel-inner">
  
        <div class="item active">
          <img src="la.jpg" alt="Los Angeles" style="width:100%;">
          <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>LA is always so much fun!</p>
          </div>
        </div>
  
        <div class="item">
          <img src="chicago.jpg" alt="Chicago" style="width:100%;">
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>
      
        <div class="item">
          <img src="ny.jpg" alt="New York" style="width:100%;">
          <div class="carousel-caption">
            <h3>New York</h3>
            <p>We love the Big Apple!</p>
          </div>
        </div>
    
      </div> -->
  
      <!-- Left and right controls -->
      <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div> -->
