<!-- <p>project-links works!</p> -->
<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink="./projectDetails" routerLinkActive="active" skipLocationChange>Project Details</a>
        </li>
        <!-- <div>
            <p>{{clickedItem.name}}</p>
            <p>{{clickedItem.designName}}</p>
            <p>{{clickedItem.currentMilestone}}</p>
            <p>{{clickedItem.valueINR}}</p>
            <p>{{clickedItem.achievedRevenue}}</p>
            <p>{{clickedItem.status}}</p>
            <p>{{clickedItem.plannedHandover}}</p>
        </div> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="./projectMilestones" routerLinkActive="active" skipLocationChange>Project Milestones</a>
            <!-- <a class="nav-link" routerLink="./projectMilestones" routerLinkActive="active" skipLocationChange (click)="onClickMilestone()">Project Milestones</a> -->
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link" routerLink="./files" routerLinkActive="active" skipLocationChange (click)="onClickFiles()">Files</a> -->
            <a class="nav-link" routerLink="./files" routerLinkActive="active" skipLocationChange>Files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./payments" routerLinkActive="active" skipLocationChange>Payments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./mom" routerLinkActive="active" skipLocationChange>MoM</a>
        </li>
    </ul>
    <!-- <div>
        {{clickedItem}}
    </div> -->
</div>
<br>

<div class="container">
    <router-outlet></router-outlet>
</div>
